@font-face {
    font-family: main;
    src: url(ppmori.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
html,body{
    height: 100%;
    width : 100%;
    font-family:PP Mori ;
}
.mousefolo{
    height: 15px;
    width: 15px;
    background-color: #EDBFFF;
    position: fixed;
    z-index: 9999999;
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: left linear 0.2s top linear 0.2s;
}
.loder{
    height: 100vh;
    width: 100%;
    background-color: #0F0D0D;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loder img{
    height: 5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loder h1{
    font-size:3vw ;
    padding: 10px 10px;
    font-weight: 300;
    margin-left: 40px;
    color: #0F0D0D;
    /* background-color: #fdfdfd; */
    border-radius: 50px;
}
.main{
    background-color: #0F0D0D;
}

.page1{
    min-height: 100vh;
    width: 100vw;
}

.page1 .nav{
    padding: 5px 30px;
    height:5%;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.page1 .nav img{
    height: 2vw;
}

a{
    font-size: 1.5vw;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.page1 .nav .nav-2 a{
    margin-left: 15px;
}

.nav-2 a:hover{
    border-bottom: 1.5px solid white;
    transition: all ease 0.5s;
}

.page1 .intro h1{
    font-size: 8vw;
    font-weight: 300;
    font-family: PP mori;
    margin-left: 6vw;
    margin-top: 12vw;
    transform-origin: left;
}
.page1 .intro h2{
    font-size: 8vw;
    font-weight: 300;
    transform-origin: left;
    margin-left: 26vw;
    margin-bottom: 12vw;
}

#himg{
    width: 100%; 
}
#himg #title {
    width: 60vw;
    /* margin-left: 20%; */
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left:50%;
    transform: translate(-50%, 0);
}
#himg #title h6{
    
    color: #fff;
    text-transform: uppercase;


}
#himg img{
    width: 60vw;
    position: relative;
    left:50%;
    transform: translate(-50%, 0);
}

.page2{
    min-height: 80vh;
    width: 100vw;
    border-bottom: 2px solid rgb(165, 165, 165);
    position: relative;
    z-index: 9;

}

.page2 h1{
    margin-top: 6vw;
    margin-left: 5vw;
    font-size: 7vw;
    font-weight: 500;
    color: #0F0D0D;
}

.page2 .text-con{
    height: 60vh;
    width: 100%;
    padding: 100px 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.page2 .text-con #text-left{
    height: 100%;
    width: 50%;
    padding-right: 10vw;
}

#text-left h2{
    font-size: 3vw;
    line-height: 4vw;
    font-weight: 400;
    color: #0F0D0D;
}
.page2 .text-con #text-right{
    height: 100%;
    width: 50%;
    padding-left: 10vw;
    display: flex;
    flex-direction: column;
}
#text-right p{
    /* padding-left: 40px; */
    font-size: 2vw;
    font-weight: 200;
    color: #0F0D0D;
}

#text-right button{
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 4px 0;
    background-color: black;
    color: #0F0D0D;
    margin-top: 20px;
}

.page3{
    min-height: 130vh;
    width: 100vw;
    padding-top: 100px;
}

.page3 h1{
    margin-top: 1vw;
    margin-left: 5vw;
    font-size: 7vw;
    font-weight: 500;
    color: #0F0D0D;
}

.page3 .work-co{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.page3 .work-co img{
    height: 50vh;
    margin-top:  18vh;
}

.page3 .work-co video{
    height: 40vh;
    margin-top:  10vh;
    margin-right: 5vw;
}

.page3 .work-co h5{
    margin-top: 3px;
    font-size: 1.2vw;
    font-weight: 500;
    color: black;
}

.page3 .work-co span{
    /* margin-top:; */
    font-size: 1vw;
    font-weight: 200;
    color: #000;
}

.page3 .work-co #left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}


.page3 .work-co #right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}